main{
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    border: 8px solid #dedede17;
    background-color: #f0e2c386;

}

#form{
    padding: 50px;
    margin-left:auto;
    margin-right: auto;

}

body{
    background-color:  #dededebd;
}

h1{
    text-align: center;
}